
body {
  background-image: url(https://i.imgur.com/mCoQzls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 200px;
  background-attachment: fixed;
  color: rgb(209, 20, 200); 
}


